<footer>
  <div  style="text-align: center; padding: 10px;">
    <li>
      <%= link_to(image_tag('miimini.png'),'http://www.watchin.co.in') %>
    </li>
    <ul>
      <li>
        Copyright © <%= Date.today.year %>
      </li>
      <li id="trade_mark">
        <!-- <%= link_to t('site.name'), 'http://social-stream.dit.upm.es/' %> -->
        <%= link_to 'WatchIn', 'http://www.watchin.co.in' %>
      </li>
    </ul>
  </div>
</footer>